<!-- <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    #checkbox-container{display: flex; flex-direction: column; justify-content: space-evenly; width: 100%; row-gap: 5px; border: 1px solid; padding: 10px;}
    .checkbox-row{flex: 1; display: flex; min-height: 38px;}
    .cb{display: flex; align-items: center; flex: 1; display: flex; justify-content: flex-start;}
    ul.tier-list-description {list-style-type: square;}
    .dropdown-container{flex: 1; display: flex; justify-content: flex-start; flex-direction: column;}
    .dropdown{height: 100%; width: 50px; border: 1px solid black; padding: 0; text-align: center; display: flex; background-color: white; font-family: 'Oswald', sans-serif; font-weight: 300;}
    .dropdown-text{font-size: x-large; flex: 1; text-align: center;}
    .dropdown-arrow{display: flex; justify-content: center; align-items: center; flex: 1; display: flex; justify-content: flex-end;}
    .dropdown-tier-container{position: absolute; z-index: 2; background-color: white; height: fit-content; overflow-x: hidden; border: black 1px solid; display: flex; flex-direction: column;}
    .dropdown-tier{font-size: xx-large; padding: 5px; text-align: center; font-family: 'Oswald', sans-serif; font-weight: 300;}
</style>

<div id="form-container" [ngSwitch]="selectedMenu">
  <form *ngSwitchCase="'profileMenu'"  [formGroup]="profileRef" (ngSubmit)="updateProfile()">
    <h1>Enter details:</h1>
    <h2>Profile</h2>
    <div *ngIf="error" style="color: red; font-size: x-large; vertical-align: middle; padding: 10px;">All fields must be filled!</div>
    <div class="form-row" >
      <input type="text" formControlName="firstName" placeholder="First Name"/>
    </div>
    <div class="form-row" >
      <input type="text" formControlName="lastName" placeholder="Last Name"/>
    </div>
    <div class="form-row" [ngStyle]="{'height': dateValidation ? 'auto' : 'fit-content'}">
      <div style="display: flex; flex-direction: column; row-gap: 8px; width: 100%;">
        <div *ngIf="!dateValidation" style="font-size: large; text-align: start; color: red;">Invalid Date or Format!</div>
        <input type="text" formControlName="dob" placeholder="DOB - MM/DD/YYYY" (input)="validateDate($event)" style="height: 100%;"/>
      </div>
    </div>
    <div class="form-row">
      <input type="text" formControlName="occupation" placeholder="Occupation" style="height: 100%;"/>
    </div>
    <div class="form-row"  >
      <div style="width: 100%;">
        <div #divMarital class="marital font btn" style="height: 100%; border: 1px solid black; padding: 0px; padding-top: 1px; text-align: start; display: flex; justify-content: space-between; background-color: white; height: 100%;" [ngStyle]="{'color': maritalStatus=='Marital Status' ? 'grey' : 'black'}" type="text">
          <div class="marital" style="font-size: xx-large; padding-left: 2px;">{{maritalStatus}}</div>
          <div class="marital" style="display: flex; justify-content: center; align-items: center;"><span class="marital material-icons">arrow_drop_down</span></div>
        </div>
        <div *ngIf="displayMaritalStatuses" #divMaritalList style="position: absolute; background-color: white; height: fit-content; overflow-x:hidden; border: black 1px solid; display: flex; flex-direction: column;" >
          <div id="selectMaritalStatus" (click)="maritalSelect(maritalStatus)" class="font btn" style="width: auto; font-size: xx-large; padding-bottom: 5px; text-align: start;" *ngFor="let maritalStatus of maritalStatuses">{{maritalStatus}}</div>
        </div>
      </div>
    </div>
    <h2>Address</h2>
    <div class="form-row" style="display: flex; justify-content: space-between; flex-grow: 1; flex-direction: column;"  >
      <div style="flex: 2; display: flex; flex-direction: column; row-gap: 10px;">
        <div>
          <div #divCountry class="country btn" style="flex: 2; font-size: x-large; border: 1px solid black; padding: 0; text-align: start; display: flex; justify-content: space-between; height: 40px; background-color: white;" [ngStyle]="{'color': country=='Country' ? 'grey' : 'black'}" type="text">
            <div class="country" style="padding-top: 1px; padding-bottom: 1px; padding-left: 2px; font-size: x-large;">{{country}}</div>
            <div class="country" style="display: flex; justify-content: center; align-items: center;"><span class="country material-icons">arrow_drop_down</span></div>
          </div>
          <div>
            <div (scroll)="onScroll($event)" *ngIf="displayCountries" #divCountryList style="position: absolute; background-color: white; height: 150px; overflow-y: auto; overflow-x:hidden; border: black 1px solid; display: flex; flex-direction: column;">
              <div id="selectCountry" (click)="countrySelect(country)" class="font btn" style="width: auto; font-size: x-large; padding-top: 5px; padding-bottom: 5px; text-align: start;" *ngFor="let country of countryList1">{{country}}</div>
            </div>
          </div>
        </div>
        <div style="display: flex; flex-direction: column; row-gap: 8px;">
          <input style="font-size: x-large;" type="text" formControlName="firstName" placeholder="Street"/>
        </div>
        <div style="display: flex; flex-direction: row; column-gap: 5px;">
          <div style="display: flex; flex-direction: column; row-gap: 8px; flex: 1;">
            <input style="font-size: x-large;" type="text" formControlName="firstName" placeholder="Zip"/>
          </div>
          <div style="display: flex; flex-direction: column; row-gap: 8px; flex: 1">
            <input style="font-size: x-large;" type="text" formControlName="firstName" placeholder="City"/>
          </div>
          <div *ngIf="isUSA()" style="display: flex; flex-direction: column; flex: 1">
            <div #divState class="state btn" style="font-size: x-large; border: 1px solid black; padding: 0; text-align: start; display: flex; justify-content: space-between; height: 40px; background-color: white;" [ngStyle]="{'color': state=='' ? 'grey' : 'black'}" type="text">
              <div class="state" style="padding-top: 1px; padding-bottom: 1px; padding-left: 2px; font-size: x-large;" [ngStyle]="{'color': state=='State' ? 'grey' : 'black'}">{{state}}</div>
              <div class="state" style="display: flex; justify-content: center; align-items: center;"><span class="state material-icons">arrow_drop_down</span></div>
            </div>
            <div>
              <div *ngIf="displayStates" #divStateList style="position: absolute; background-color: white; max-height: 120px; overflow-y: scroll; overflow-x:hidden; border: black 1px solid; display: flex; flex-direction: column;" >
                <div id="selectState" (click)="stateSelect(state)" class="btn" style="width: auto; font-size: x-large; padding-top: 5px; padding-bottom: 5px; text-align: start;" *ngFor="let state of stateList">{{state}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="button-container">
        <input class="btn btn-outline-secondary" style="font-size: xx-large;" type="reset" value="Clear" (click)="clearForm()"/>
        <input class="btn btn-outline-primary" style="font-size: xx-large;" type="submit" value="Next" (click)="selectedMenu = 'planMenu'"/>

      </div>
    </div>
  </form>

  <form style="display: flex; flex-direction: column; justify-content: space-between;" id="plan-menu" action="choosePlan()">
    <div>
      <h1 class="form-row font" style="margin: 16px 0px 16px 0px; font-style: italic; font-weight: 400; text-align: center; justify-content: center; padding: 10px; font-size: 4rem; line-height: 4rem;">Choose your coverage and pick a tier:</h1>
      <h3 style="padding: 10px">
        <ul class="tier-list-description">
          <li>Tier 1 - Provides basic coverage. Physicians are chosen for you.</li>
          <li>Tier 2 - Eligable to choose your physican. Certain pyhsicians are restricted.</li>
          <li>Tier 3 - Eligable to choose any doctor within our network.</li>
        </ul>
      </h3>
      <div style="padding: 0px 10px 0px 10px">
        <div id="checkbox-container" style="margin-bottom: 10px;">
          <div class="checkbox-row">
            <div class="cb">
              <mat-checkbox>Medical</mat-checkbox>
            </div>
            <div class="dropdown-container">
              <div #medicalMobile class="medical btn dropdown" [ngStyle]="{'color': !true ? 'grey' : 'black'}" type="text">
                <div class="medical dropdown-text"></div>
                <div class="medical dropdown-arrow"><span class="medical material-icons">arrow_drop_down</span></div>
              </div>
              <div>
                <div *ngIf="displayMedicalTiers" class="dropdown-tier-container" #medicalTiersMobile>
                  <div (click)="medicalTierSelection(tier)" class="btn dropdown-tier" *ngFor="let tier of Tiers">{{tier}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="checkbox-row">
            <div class="cb">
              <mat-checkbox>Dental</mat-checkbox>
            </div>
            <div class="dropdown-container" >
              <div #dentalMobile class="dental btn dropdown" [ngStyle]="{'color': !true ? 'grey' : 'black'}" type="text">
                <div class="dental dropdown-text"></div>
                <div class="dental dropdown-arrow"><span class="dental material-icons">arrow_drop_down</span></div>
              </div>
              <div>
                <div *ngIf="displayDentalTiers" class="dropdown-tier-container" #dentalTiersMobile>
                  <div (click)="medicalTierSelection(tier)" class="btn dropdown-tier" *ngFor="let tier of Tiers">{{tier}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="checkbox-row">
            <div class="cb">
              <mat-checkbox >Vision</mat-checkbox>
            </div>
            <div class="dropdown-container">
              <div #visionMobile class="vision btn dropdown" [ngStyle]="{'color': !true ? 'grey' : 'black'}" type="text">
                <div class="vision dropdown-text"></div>
                <div class="vision dropdown-arrow"><span class="vision material-icons">arrow_drop_down</span></div>
              </div>
              <div>
                <div *ngIf="displayVisionTiers" class="dropdown-tier-container" #visionTiersMobile>
                  <div (click)="medicalTierSelection(tier)" class="btn dropdown-tier" *ngFor="let tier of Tiers">{{tier}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="button-container" class="form-row">
      <input class="btn btn-outline-primary font" style="font-size: xx-large;" type="submit" value="Next"/>
      <input class="btn btn-outline-secondary font" style="font-size: xx-large;" type="reset" value="Clear" (click)="clearForm()"/>
    </div>
  </form>
</div>
 -->
 <router-outlet></router-outlet>
