input{
  border: 1px solid; width: 100%; font-size: xx-large;
}

h1{
  display: flex; flex-direction: row; width: 100%; margin: 16px 0px 16px 0px; font-weight: 300; text-align: start; justify-content: flex-start; padding: 10px; font-size: 5rem; line-height: 5rem;
}

h2{
  display: flex; flex-direction: row; width: 100%; margin: 16px 0px 16px 0px; font-weight: 300; text-align: start; justify-content: flex-start; padding: 10px; font-size: 4rem;
}

form{
  display: flex; flex-direction: column; border: black 2px solid; width: 700px; box-shadow: 10px 10px 5px grey; background-color: white; margin: auto; justify-content: space-between; position: relative;
}

*:not(span){
  font-family: 'Oswald', sans-serif; font-weight: 300;
}

#selectCountry:hover{
  background-color:	rgb(211,211,211);
}

#selectMaritalStatus:hover{
  background-color:	rgb(211,211,211);
}

.form-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  padding: 0px 10px 0px 10px;
}

#form-container{
  display: flex; justify-content: center; align-items: center; height: 100%;
}

#button-container{
  row-gap: 5px;  column-gap: 5px; display: flex; flex-direction: row; padding: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media only screen and (max-width: 1050px) {
  .form-row{
    flex-direction: column;
    row-gap: 10px;
  }

  #button-container{
    flex-direction: column-reverse;

  }

  form{
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    background-attachment: fixed;
    box-shadow: none;
  }
}
