.font{
  font-family: 'Oswald', sans-serif; font-weight: 300; font-size: 2em;
}

#links{
  display: flex; flex-direction: row; column-gap: 10px; justify-content: flex-start; flex: 1; align-items: center;
}

#logout{
  display: flex; justify-content: flex-end; flex: 1; align-items: center;
}

a:hover{
  text-decoration: underline;
}

#nav-row{
  display: flex; flex-direction: row; height: 77px; padding: 0px 10px 0px 10px; width: 100%; background-color: white;
}

#dropdown-button{
  display: none;
}

#dropdown{
  display: none;
}


@media only screen and (max-width: 1050px) {
  #links{
    display: none;
  }

  #dropdown{
    display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;
  }

  #logout{
    display: none;
  }
  #dropdown-button{
    display: flex; justify-content: center; align-items: center;
  }

  #nav-row{
    justify-content: space-between;
  }
}
