



form{
  display: flex; flex-direction: row; justify-content: space-evenly; text-align: center; align-items: center; padding: 10px;
}

.font{
  font-family: 'Oswald', sans-serif; font-weight: 300; font-size: xx-large;
}

input{
  font-size: xx-large; width: 100%; border: 1px solid;
}

