<div id="form-container">
  <form [formGroup]="profileRef" (ngSubmit)="updateProfile()">
    <div class="form-row font" style="background-color: #C5E8FA">
      <div class="form-label-container">
        <div >
          Email
        </div>
      </div>
      <input type="email" formControlName="email" placeholder="Email"/>
    </div>
    <div class="form-row font" style="background-color: #9ADCFE;">
      <div class="form-label-container">
        <div>
          First Name
        </div>
      </div>
      <input type="text" formControlName="firstName" placeholder="First Name"/>
    </div>
    <div class="form-row font" style="background-color: #C5E8FA">
      <div class="form-label-container">
        <div>
          Last Name
        </div>
      </div>
      <input type="text" formControlName="lastName" placeholder="Last Name"/>
    </div>
    <div class="form-row font" style="background-color: #9ADCFE;" [ngStyle]="{'height': dateValidation ? 'auto' : 'fit-content'}">
      <div class="form-label-container">
        <div>
          Date of Birth
        </div>
      </div>
      <div style="flex: 2; display: flex; flex-direction: column; row-gap: 8px;">
        <div *ngIf="!dateValidation" style="font-size: large; text-align: start; color: red;">Invalid Date or Format!</div>
        <input type="text" formControlName="dob" placeholder="MM/DD/YYYY" (input)="validateDate($event)" style="height: 100%;"/>
      </div>
    </div>
    <div class="form-row font" style="background-color: #C5E8FA">
      <div class="form-label-container">
        <div>
          Occuptation
        </div>
      </div>
      <input type="text" formControlName="occupation" placeholder="Occupation" style="height: 100%;"/>
    </div>
    <div class="form-row font" style="background-color: #9ADCFE;">
      <div class="form-label-container">
        <div>
          Marital Status
        </div>
      </div>
      <div style="flex: 2;">
        <div #divMarital class="marital font btn" style="height: 100%; border-radius: 5px; border: 2px solid black; padding: 0; text-align: start; display: flex; justify-content: space-between; background-color: white; height: 53px;" [ngStyle]="{'color': maritalStatus=='Status' ? 'grey' : 'black'}" type="text">
          <div class="marital" style="font-size: xx-large; padding-left: 2px;">{{maritalStatus}}</div>
          <div class="marital" style="display: flex; justify-content: center; align-items: center;"><span class="marital material-icons">arrow_drop_down</span></div>
        </div>
        <div *ngIf="displayMaritalStatuses" #divMaritalList style="position: absolute; background-color: white; height: fit-content; overflow-x:hidden; border: black 1px solid; display: flex; flex-direction: column;" >
          <div id="selectMaritalStatus" (click)="maritalSelect(maritalStatus)" class="font btn" style="width: auto; font-size: xx-large; padding-bottom: 5px; text-align: start;" *ngFor="let maritalStatus of maritalStatuses">{{maritalStatus}}</div>
        </div>
      </div>
    </div>
    <div class="form-row font"  style="background-color: #C5E8FA">
      <div class="form-label-container">
        <div>
          Phone#
        </div>
      </div>
      <input style="flex: 2;"  type="text" formControlName="phoneNumber" placeholder="Phone#"/>
    </div>
    <div class="form-row font"  style="background-color: #9ADCFE;">
      <div  class="form-label-container">
        <div>
          Address
        </div>
      </div>
      <div style="flex: 2; display: flex; flex-direction: column; row-gap: 10px;">
        <div style="display: flex; flex-direction: column;">
          <div style="font-size: x-large; text-align: start; padding-bottom: 8px;">Country</div>
          <div #divCountry class="country font btn" style="flex: 2; font-size: x-large; border-radius: 5px; border: 2px solid black; padding: 0; text-align: start; display: flex; justify-content: space-between; height: 42px; background-color: white;" [ngStyle]="{'color': country=='Country' ? 'grey' : 'black'}" type="text">
            <div class="country" style="padding-top: 1px; padding-bottom: 1px; padding-left: 2px; font-size: x-large;">{{country}}</div>
            <div class="country" style="display: flex; justify-content: center; align-items: center;"><span class="country material-icons">arrow_drop_down</span></div>
          </div>
          <div>
            <div (scroll)="onScroll($event)" *ngIf="displayCountries" #divCountryList style="position: absolute; background-color: white; height: 150px; overflow-y: auto; overflow-x:hidden; border: black 1px solid; display: flex; flex-direction: column;">
              <div id="selectCountry" (click)="countrySelect(country)" class="font btn" style="width: auto; font-size: x-large; padding-top: 5px; padding-bottom: 5px; text-align: start;" *ngFor="let country of countryList1">{{country}}</div>
            </div>
          </div>
        </div>
        <div style="display: flex; flex-direction: column; row-gap: 8px;">
          <div class="street" style="font-size: x-large; text-align: start;">Street</div>
          <input style="flex: 2; font-size: x-large;" type="text" formControlName="firstName" placeholder="Street"/>
        </div>
        <div style="display: flex; flex-direction: row; column-gap: 5px;">
          <div style="display: flex; flex-direction: column; row-gap: 8px; flex: 2;">
            <div style="font-size: x-large; text-align:start">Zip</div>
            <input style="flex: 2; font-size: x-large;" type="text" formControlName="firstName" placeholder="Zip"/>
          </div>
          <div style="display: flex; flex-direction: column; row-gap: 8px; flex: 2">
            <div style="font-size: x-large; text-align:start">City</div>
            <input style="flex: 2; font-size: x-large;" type="text" formControlName="firstName" placeholder="City"/>
          </div>
          <div *ngIf="isUSA()" style="display: flex; flex-direction: column; flex: 1">
            <div style="font-size: x-large; text-align:start; padding-bottom: 8px; ">State</div>
            <div #divState class="state font btn" style="font-size: x-large; border-radius: 5px; border: 2px solid black; padding: 0; text-align: start; display: flex; justify-content: space-between; height: 42px; background-color: white;" [ngStyle]="{'color': state=='' ? 'grey' : 'black'}" type="text">
              <div class="state" style="padding-top: 1px; padding-bottom: 1px; padding-left: 2px; font-size: x-large;">{{state}}</div>
              <div class="state" style="display: flex; justify-content: center; align-items: center;"><span class="state material-icons">arrow_drop_down</span></div>
            </div>
            <div>
              <div *ngIf="displayStates" #divStateList style="position: absolute; background-color: white; max-height: 120px; overflow-y: scroll; overflow-x:hidden; border: black 1px solid; display: flex; flex-direction: column;" >
                <div id="selectState" (click)="stateSelect(state)" class="font btn" style="width: auto; font-size: x-large; padding-top: 5px; padding-bottom: 5px; text-align: start;" *ngFor="let state of stateList">{{state}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row" style="column-gap: 1%; row-gap: 1%; background-color:#C5E8FA">
      <div style="background-color: white; flex: 1; border-radius: 5px;"><input class="btn btn-outline-primary font"  type="submit" value="Save"/></div>
      <div style="background-color: white; flex: 1; border-radius: 5px;"><input class="btn btn-outline-secondary font" type="reset" value="Clear" (click)="clearForm()"/></div>
    </div>
  </form>
</div>

